/* MUSTCHAN PIE SISTERS THEME REFERENCE - 2026-01-13 */

/* DARK THEMES */
.limestone-dark {
	--background:	#1a1926;
	--surface:		#3b3a56;
	--border:		#2d3232;
	--text:			#c7cece;
	--accent:		#bdce5a;
}
.maud-dark {
	--background:	#10171e;
	--surface:		#293d53;
	--border:		#303a41;
	--text:			#b5b7bb;
	--accent:		#7de1c4;
}
.marble-dark {
	--background:	#0e1312;
	--surface:		#2e3c35;
	--border:		#313635;
	--text:			#cad6d2;
	--accent:		#a373d8;
}

/* LIGHT THEMES */
/* WIP
.limestone-light {
	--background:	#c7cece;
	--surface:		#9392b6;
	--border:		#6f7a7b;
	--text:			#544f72;
	--accent:		#98a838;
}
.maud-light {
	--background:	#b5b7bb;
	--surface:		#58839d;
	--border:		#3d5b74;
	--text:			#574176;
	--accent:		#2a8b6f;
}
*/
.marble-light {
	--background:	#cad6d2;
	--surface:		#a5baaf;
	--border:		#688887;
	--text:			#273332;
	--accent:		#764494;
}

/* DEBUG THEMES */
.brutalist-light {
	--background:	#ffffff;
	--surface:		#f5f5f5;
	--border:		#000000;
	--text:			#000000;
	--accent:		#0000ee;
	--accent-visited: #551a8b;
}
.brutalist-dark {
	--background:	#000000;
	--surface:		#0a0a0a;
	--border:		#ffffff;
	--text:			#ffffff;
	--accent:		#00ff00;
}
